body {
   background-color: antiquewhite;
    background-size: contain;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80)
}

.jumbo {
    background: rgba(212, 221, 233, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: azure;
   
}

.One {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    background-color: azure;
    
}